@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coda&display=swap');

// Set your brand colors
$Teko: "Teko", sans-serif;
$Montserrat: "Montserrat", sans-serif;
$Coda: "Coda", cursive;
//!I would be into defining my own color scheme...
//!BUT it will take hella time and I want to do other things now...
// $white-ter:    hsl(0, 5%, 44%);
// $white-bis:    hsl(0, 47%, 81%);
// $white:        hsl(230, 38%, 68%);

// Update Bulma's global variables
$family-sans-serif: $Coda;
$body-font-size: 1.2rem !default;
$tablet: 850px;
// $scheme-main: rbga(#12222c);

// Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

@import "../../../node_modules/bulma/bulma.sass";
