/*TODO:
/*?For the sake of encapsulation and creating proper cascading,
/*?I think we should break these section out into their own
/*?files so they can be imported where they are needed...
*/
/**These styles are for the login/signup card*/
.fulltabs {
  width: 100%;
}
.fulltabs li {
  width: 50%;
}
.disabledTab {
  pointer-events: none;
}
.enabledTab {
  pointer-events: all;
}
/**Additional stylings for footer of landing hero navbar*/
.heroNavbar span.navbar-item {
  padding: 0, 0.5rem;
  align-content: center;
}
#navbarMenuHero span.navbar-item {
  background-color: black;
}
#navBarMenuHero div.navbar-end {
  background-color: black;
}
#navbarMenuHero span.navbar-item:hover {
  background-color: rgb(27, 27, 27);
}
.heroNavbar span.navbar-item:hover {
  background-color: rgba(245, 245, 245, 0.11);
}
/**Additional stylings for footer of landing hero footer*/
/* .heroFooter {
  background-color: #d0d1cd52;
} */
/**These styles are for the custom BL3 wallpaper which cycles colors */
img#imgCenter {
  margin: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -2;
  animation: 3s ease-in-out 3s infinite alternate slidein;
}
img#imgYellow {
  margin: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -3;
  animation: 16s ease-in-out infinite alternate hideYellow;
}
img#imgRed {
  margin: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -3;
  animation: 16s ease-in-out infinite alternate hideRed;
}

@keyframes slidein {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.35;
  }
}
@keyframes hideYellow {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.4;
  }
}
@keyframes hideRed {
  from {
    opacity: 0.25;
  }
  to {
    opacity: 1;
  }
}
