/**These styles are for the login/signup card*/
.fulltabs {
  width: 100%;
}
.fulltabs li{
  width: 50%;
}
.disabledTab {
  pointer-events: none;
}
.enabledTab {
  pointer-events: all;
}

/**Additional stylings for footer of landing hero navbar*/
.heroNavbar {
  background-color: #d0d1cd52;
}
/**Additional stylings for footer of landing hero footer*/
.heroFooter {
  background-color: #d0d1cd52;
}
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
strong {
  font-family: "Teko", sans-serif;
} */
/**These styles are for the custom BL3 wallpaper which cycles colors */
img#imgCenter {
  margin: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -2;
  animation: 3s ease-in-out 3s infinite alternate slidein;
}
img#imgYellow {
  margin: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -3;
  animation: 16s ease-in-out infinite alternate hideYellow;
}
img#imgRed {
  margin: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -3;
  animation: 16s ease-in-out infinite alternate hideRed;
}

@keyframes slidein {
  from {
    opacity: 1;
  }
  to {
    opacity: .35;
  }
}
@keyframes hideYellow {
  from {
    opacity: 1;
  }
  to {
    opacity: .4;
  }
}
@keyframes hideRed {
  from {
    opacity: .25;
  }
  to {
    opacity: 1;
  }
}
