.animatedCard {
  /* background-color: thistle !important; */
  border: 1px solid rgba(246, 239, 20, 0.548);
}
.animatedCard-enter {
  opacity: 0;
  transform: scale(0.9);
}
.animatedCard-enter-active {
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.animatedCard-exit {
  opacity: 1;
}
.animatedCard-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
button#details.button {
  border-color: transparent;
  background-color: transparent;
}
button#loot-drop-button.button.is-medium.is-rounded.ml-6 {
  transition: background-color 0.5s;
}
button#loot-drop-button.button.is-medium.is-rounded.ml-6.is-fullwidth {
  background-color: rgb(238, 150, 40);
  border-color: none;
  color: #363636;
}
button#loot-drop-button.button.is-medium.is-rounded.ml-6.is-fullwidth:hover {
  border-color: unset;
}

button#item-dropdown-button {
  justify-content: space-between;
}

div#dropdown-menu.dropdown-menu {
  min-width: 100%;
}

div#dropdown-menu-background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

div#image-box1.box {
  border: 1px solid rgba(102, 2, 0, 0.692);
  background-color: rgba(102, 2, 0, 0.575);
  box-shadow: 0px 0px 1em -0.4em rgba(246, 239, 20, 0.411);
}
div#image-box2.box.p-2 {
  /* border: 1px solid rgba(102, 2, 0, 0.692); */
  background-color: transparent !important;
  box-shadow: inset 0px 0px 0.7em -4px rgba(246, 239, 20, 0.705);
}

div#item-dropdown {
  width: 100%;
}

div#loot-drop-card {
  box-shadow: 0px 0px 1.3em -10px rgba(246, 239, 20, 0.404);
}

div.select.is-multiple.px-5 {
  width: 100%;
}

div.select.is-multiple.px-5 select {
  width: 100%;
}

figure#image-box {
  overflow: hidden;
  border-radius: inherit;
}

nav#loot-name.level {
  border-bottom: 1px solid rgba(246, 239, 20, 0.705);
}

table#details-table.table td {
  padding-top: 0.2em !important;
  padding-left: 0em !important;
  padding-right: 0em !important;
  padding-bottom: 0.2em !important;
}
